@using MedicalInformationSystem.Models
@model MedicalInformationSystem.ViewModels.HospitalListViewModel

@{
    ViewBag.Title = "HospitalList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hospital List</h2>

@if (!String.IsNullOrEmpty(Model.Massage))
{
    <p style="text-align: center"><b>@Model.Massage</b></p>
}

@if (Request.IsAuthenticated)
{
    @Html.ActionLink("New Hospital", "NewHospital", "Hospital", null, new { @class = "btn btn-primary" }) <br /> <br />
}

<table class="table table-bordered table-hover" id="hospital">

    <thead>
    <tr>
        <th>Name</th>
        <th>Area</th>
    </tr>
    </thead>

    @foreach (Hospital hospital in Model.Hospitals)
    {
        <tr>
            <td>@Html.ActionLink(hospital.Name,"Details","Hospital",new {id = hospital.Id},null)</td>
            <td>@hospital.Area</td>
        </tr>
    }

</table>

@section scripts
{
    <script>
        $(document).ready(function() {

           var table =  $("#hospital").DataTable();

           //$("#hospital").on("click", ".js-delete", function () {

           //     var button = $(this);

           //     bootbox.confirm("Are You sure To Delete This", function(result) {
                    
           //         if (result) {

           //             $.ajax({
                            
           //                 url: "/api/hospitals/" + button.attr("data-hospital-id"),
           //                 method: "DELETE",
           //                 success: function() {

           //                     table.row(button.parents("tr")).remove().draw();

           //                     toastr.success("Record Deleted");
           //                 }
           //             });
           //         }

           //     });

            // });


        });
    </script>
}
