@model MedicalInformationSystem.ViewModels.BloodBankListViewModel

@{
    ViewBag.Title = "BloodBankList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Blood BankList</h2>

@if (Request.IsAuthenticated)
{
    @Html.ActionLink("Add Bank", "NewBank", "BloodBank", null, new { @class = "btn btn-primary" }) <br /> <br />
}
@if (String.IsNullOrEmpty(Model.Massage))
{
    <P style="text-align: center"><b>@Model.Massage</b></P>
}

<table class="table table-hover table-bordered" id="bank">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
        </tr>
    </thead>

    @foreach (var bank in Model.BloodBanks)
    {
        <tr>
            <td>@Html.ActionLink(bank.Name, "Details", "BloodBank", new { id = bank.Id }, null)</td>
            <td>@bank.Address</td>
        </tr>
    }
</table>

@section scripts
{
    <script>
        $(document).ready(function() {

            var table = $("#bank").DataTable();

            //$("#bank").on("click", ".js-delete", function () {
            //    var button = $(this);

            //    bootbox.confirm("Are You Sure To Delete This", function (result) {

            //        if (result) {

            //            $.ajax({

            //                url: "/api/bloodbanks/" + button.attr("data-bank-id"),
            //                method: "DELETE",
            //                success: function () {

            //                    table.row(button.parents("tr")).remove().draw();
            //                    toastr.success("Record Deleted");
            //                }
            //            });
            //        }
            //    });
            //});


        });
    </script>
}
